<template>
  <div id="tf-home">
      <div class="overlay">
          <div id="sticky-anchor"></div>
          <menu-depan></menu-depan>

          <div class="container">
              <div class="content">
                  <h1 class="animated zoomIn">Create Notes</h1>
                  <h3 class="note animated slideInUp">Catatlah selagi masih ingat. Agar kamu bisa ingat lagi ketika lupa</h3>
                  <br>
                  <div class="tombol animated zoomIn">
                    <a href="/register" class="btn btn-primary my-btn">Register</a>
                    <a href="/Login" class="btn btn-primary my-btn2">Login</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
